name: AutoBuild

on:
  push:
    branches: master


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      #- name: Install mustache (to update the date)
       # run:  apk add ruby && gem install mustache
      - name: creates output
        run:  |        
           #!/bin/sh
           mkdir output
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: install pip packages
        run: |
          python -m pip install --upgrade pip
      - name: weixin
        run: |
          python3 main.py > output/.build_date.md

      - name: Pushes to another repository
        id: push_directory
        uses: cpina/github-action-push-to-another-repository@ssh-deploy-key
        env:
          SSH_DEPLOY_KEY: ${{ secrets.SSH_DEPLOY_KEY }}
        with:
          source-directory: 'output'
          destination-github-username: 'ysfhtxn'
          destination-repository-name: 'test2'
          user-email: '1121656712@qq.com'
          target-branch: dd

      - name: Test get variable exported by push-to-another-repository
        run: echo $DESTINATION_CLONED_DIRECTORY

