name: AutoBuild

on:
  push:
    branches: master


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      #- name: Install mustache (to update the date)
       # run:  apk add ruby && gem install mustache
      - name: creates output
        run:  |        
          #!/bin/sh
          pwd
          ls
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: install pip packages
        run: |
          python -m pip install --upgrade pip
      - name: weixin
        run: |
          date > anime.md